.hr-style {
    margin-left:15%;
    margin-right:15%;
    margin-top: 1%;
}
.a {
    color: #000000;
    text-decoration: none;
    line-height: 25px; 
}
a:visited {
   color: #111; 
}
a:hover {
  color: #111;
  text-decoration: underline;
  text-decoration-style: solid; 
}
.img-style {
  height: 150px;
  width: 150px;
}
.box {
  margin: 20px auto;
  padding: 0 15px;
}
.rounded {
  border-radius: 8px;
}
.feed-icon {
  width: 25px;
  height: 25px;
}
.feed-container {
  display: inline-block;
  background: grey;
  padding:5px;
  margin-left: 2px;
  border-radius:8px;
}
body {
  border-top:5px solid #8258c4;
}
.header-container {
  border-bottom:1px solid gray;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap:10px;
}
.iframe-container {
  height: 102px;
  width: 400px;
}
@media (max-width: 420px){
.img-style {
  height: 100px;
  width: 100px;
  margin-left: 37%;
}
h1 {
  font-size: 25px;
}
p {
  font-size: 12px;
}
.feed-icon {
  width: 20px;
  height: 20px;
}
.feed-container {
  padding: 3px;
  margin-left: 7px;
  border-radius: 5px;
}
.header-container {
  display: block;
  text-align: center;
}
.iframe-container {
  height: 102px;
  width: 20%;
}
}
