
/** My custom CSS classes **/
/** Add your custom classes here to make it easier to find **/
/**@import "main.css"**/
.hr-style{
    margin-left:15%;
    margin-right:15%;
    margin-top: 1%;
  }
.visited {
    color: #000000;
    text-decoration: none; }
    a:visited {
      color: #111; }
    .visited:hover {
      color: #111;
      text-decoration: underline; }
    
    /* The img-style is not working properly, for unknown reasons */
    .img-style{
      height: 150px;
      width: 150px;
      /* You might not need this anymore after you are done with the flexbox*/
      /*margin-left: 45%;
      margin-top: 5%;*/
    }
  
.box{
  display: flex;
  margin-left: 25%;
  margin-top: 3%;
}
